* {
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-hovecoloe: #ffc8ac;
    --color-black: #000000;
    --color-b-dark: #ffc457;
    --color-c-dark: #001f3b;
    --color-c-medium: #013562;
    --color-c-light: #2973b4;
    --color-text1: #a83184;
    --color-text2: #2e202a;
    --color-a-light: #c9c4e4;
    --color-a-medium: #746eaf;
    --color-a-dark: #40397a;
    --color-d-light: #e0ddff;
    --color-d-medium: #d5d5d5;
    --radius: 3rem;
    --border-a: 0.8vw solid var(--color-a-medium);
    --font-size-m-medium: 1.2rem;
    --font-size-m-large: 1rem;
    --font-size-m-small: 0.8rem;
    --font-size-d-small: 0.8vw;
    --font-size-d-large: 1.5vw;
    --font-size-d-vsmal: 0.7vw;
    --shadow-a: 0.5vw 0.5vw 1vw 0vw var(--color-black);

}

header h3 {
    display: none;
}

p {
    display: inline;
    font-size: 1vw;
    direction: rtl; 
}

.boxshadow {
    box-shadow: 1vw 1vw 10vw 1vw var(--color-c-medium);
}

img#open-icon,
img#catg-icon {
    filter: invert();
    display: inline;
}

/* mouseover and mouseup */
.opacity {
    opacity: 0.5;
}

.backchange {
    background-color: var(--color-white);
    opacity: 1;
}

/*for testing*/
.test {
    background-color: brown;
}

body {
    background-color: var(--color-white);
    margin: 0;
    width: 100%;
}

header {
    min-height: 5vw;
    /* background-color: red; */

}

header h1 {
    display: inline-block;
    font-size: var(--font-size-m-medium);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

header,
.top-bar,
.main-bar {
    max-width: 100%;
}

.top-bar {
    color: var(--color-text1);
    font-size: var(--font-size-m-large);
    box-shadow: 1vw 1vw 10vw 1vw var(--color-a-dark);
    position: relative;
}

.bgimg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url('img/topbar.jpg');
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
    filter: blur(2);
    z-index: -1;
    filter: opacity(0.3);
}


.main-bar {
    color: var(--titlelight);
    font-size: var(--font-size-m-medium);
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: var(--color-a-medium);
    box-shadow: var(--shadow-a);

}

.nav-menu {
    background-color: var(--mainbar1);
    width: 100%;

}

.item {
    display: inline-block;
    text-align: right;
    /* Text align for all item in header */
}

.logo {

    width: 20%;
    margin: 3vw 0 0 0;
    text-align: right;
}


.head-tools {
    width: 20%;
    float: left;
    margin: 5vw 3vw 0vw 2vw;
    text-align: left;
    max-height: 1rem;
}

.tools-content {display: none;}

.head-tools > div {
    display: inline-block;
    margin: 0 2vw;
}
.head-tools img {
    filter: opacity(0.8);
}

.head-search {
    width: 50%;
    float: left;
    margin: 4vw 3vw 0vw 0vw;
}

.head-search img {
    margin: 0;
}

.head-search input[type="search"] {
    margin-top: 10px;
    width: 90%;
    box-shadow: 1px 1px 3px 1px;
    border: 0;
    background-color: var(--color-b-dark);
    height: 1.5rem;
    border-radius: 2vw;
}

.head-search input[type="search"]:focus {
    background-color: var(--color-white);
}

.head-cattitle {
    display: none;
}

/* nav menu */

.nav-menu a {
    display: none;
}

.nav-menu.item #index-menu a {

    text-decoration: none;
    float: right;
}

.nav-menu.item #category a {

    text-decoration: none;
    float: left;
}


.nav-menu.item a.icon {
    display: block;
    width: 40%;
}

.nav-menu.item.responsive #index-menu {
    position: relative;
}

.nav-menu.item.responsive #index-menu .icon {
    position: absolute;
    right: 0;
    top: 0;
}

.nav-menu.item.responsive #index-menu a {
    float: none;
    display: block;
    text-align: center;
    text-decoration: none;
}

/* responsive category */

.nav-menu.item.responsive #category {
    position: relative;
}

.nav-menu.item.responsive #category .icon {
    position: absolute;
    left: 0;
    top: 0;
}

.nav-menu.item.responsive #category a {
    float: none;
    display: block;
    text-align: right;
    margin: 5px 10vw 5px 0px;
    text-decoration: none;
}


/*   .nav-menu.item #category .dropdown-content {
    display: none;
} */


.dropdown-content {
    display: none;
}

.dropdown-content {
    padding: 0px;
    margin: 0px;

}

.dropdown-content a {
    box-shadow: 1px 1px var(--color-a-dark);
    padding-right: 2vw;
    font-size: var(--font-size-m-medium);
}

/* Hover on a Category */
/* .nav-menu.item #category .dropdown:hover .dropdown-content,
.nav-menu.item #category .dropdown:focus .dropdown-content {
    display: block;
    margin-right: 5vw;
} */

.show {
    display: block;
}


/* Link Style */
a:link {
    color: var(--titlelight);
}

a:visited {
    color: var(--titlelight);
}

a:hover,
a:focus {
    color: var(--color-hovecoloe);
}

a:active {
    color: var(--color-black);
}

/* Header Banner with 3 columns*/
.flex-container.banner {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1vw;
}

.flex-item {
    width: 80%;
    margin: auto;
    padding-bottom: 3vw;
}

.item-style-1 {

    object-fit: cover;
    height: 30rem;
}

.item-style-2 {

    object-fit: cover;
    height: 15rem;

}

.item-style-3 {

    object-fit: cover;
    height: 20rem;

}

.banner .flex-item img {

    width: 100%;
    height: 100%;
    box-shadow: 0vw 1vw 2vw 0vw var(--color-b-dark);
    position: relative;
}

/* Main  */

section.flex-item:not(:first-of-type) {
    display: none;
}


main div.product-section {
    display: block;
    clear: both;
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
    min-height: 3rem;
}


main .flex-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2rem;
    width: 90%;
    margin: auto;
}

main .flex-item {
    width: 90%;
    min-height: 30rem;
    box-shadow: 1px 1px 10px 5px var(--color-a-light);
    border-radius: var(--radius);
    position: relative;
    margin: auto;
}


/* center vertically text */
main .arrow {
    width: 5%;
    min-height: 30rem;
    line-height: 30rem;

}

main .arrow a {

    border-radius: var(--radius);

}

main .arrow a>img {
    width: 90%;
    height: auto;
    /* filter: invert(); */
}

#next {
    margin-left: 2vw;
}

#previous {
    margin-right: 3vw;
}

/* End up block */
.flex-item header {
    text-align: center;
    color: var(--color-white);
    width: 70%;
    margin: 2vw auto;
    background-color: var(--color-a-dark);
    border-radius: var(--radius);
}

.product-img {
    object-fit: contain;
    width: 90%;
    height: 20rem;
    margin: auto;
    box-shadow: -2vw 0vw 3vw var(--color-white);
}

.product-img img {
    width: 100%;
    height: 100%;
}

.price-box {
    box-shadow: 1px 1px 10px 5px var(--color-hovecoloe);
    background-color: var(--color-c-dark);
    color: var(--color-white);
    border-radius: var(--radius);
    text-align: center;
    font-size: var(--font-size-m-medium);
}

.flex-item footer {
    background-color: var(--color-b-dark);
    position: absolute;
    bottom: 0px;
    width: 100%;
    font-size: var(--font-size-m-medium);
    border-radius: var(--radius);

}

.flex-item footer a {
    color: var(--color-black);
}

.item-box {
    display: inline-block;
    margin: 0 7px 0px 7px;
}

.right {
    float: right;
}

.left {
    float: left;
}


/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}

@keyframes fade {
    from {
        filter: blur(4px);
    }

    to {
        filter: blur(0);
    }
}


main p {
    font-size: var(--font-size-m-medium);
}

/* Our services */
.our-services {
    width: 80%;
    margin: auto;
}

details {
    text-align: right;
    direction: rtl;
    color: var(--color-black);
    height: 5rem;

}

details p {
    font-size: var(--font-size-m-medium);

}

summary {
    background-color: var(--color-a-medium);
    color: var(--color-text2);
    font-size: var(--font-size-m-large);
    border: 2px solid var(--color-b-dark);
    border-collapse: collapse;
    margin-top: 1vw;
    border-radius: 10vw;
    list-style-type: "";


}

/* smooth close and open animation */
.content-details {
    height: 100%;
    overflow: hidden;
}

details.description[open] {
    height: 10rem;
}

.content-details {
    font-size: var(--font-size-m-medium);
    margin-top: 15vw;
    opacity: 1;

}

/* additional transiton for p in details */
details.description[open] .content-details {
    opacity: 1;
    margin-top: 0vw;
}

/* Change color summer when detail opens */
details.description[open] summary {
    background-color: var(--color-b-dark);
    color: var(--color-text1);
}



/* chagable details text open or close */
details.description summary::after {
    content: attr(data-open);
    font-size: var(--font-size-m-medium);
    margin-right: 10vw;
}

details.description:not([open]) summary::after {
    content: attr(data-close);
    font-size: var(--font-size-m-medium);
    margin-right: 5vw;
}

/* add transiton two above section about details */

details.description,
details.description[open] .content-details {
    transition: all .9s ease-in-out;
    transform-origin: center bottom;
}

details.description summary::after {
    display: inline-block;
    transition: all .9s ease-in-out;
    transform-origin: center bottom;
}

/* Footer main */
footer.main-footer {
    width: 100%;
    background-color: var(--color-b-dark);
    min-height: 10rem;
    margin-top: 3rem;
    /* border */
    border: 0.8vw solid var(--color-hovecoloe);
    border-inline-width: 0;
    border-radius: var(--radius);
    border-bottom-right-radius: 10rem;
    border-top-left-radius: 10rem;
}

footer.main-footer .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: auto;

}

.head-fo {
    width: 100%;
}

footer.main-footer .head-fo>h2 {
    text-align: right;
    float: right;
    margin: 3vw;
}


footer.main-footer .flex-container .flex-item {
    width: 80%;
    margin: auto;
    border: var(--border-a);
    border-radius: var(--radius);
    margin-bottom: 3vw;
}

footer.main-footer .flex-container .flex-item p,
footer.main-footer .flex-container .flex-item h4 {
    font-size: var(--font-size-m-small);
    margin: 0;
    padding-inline: 5vw;
}

footer.main-footer .flex-container .flex-item h4 {
    float: right;
}

footer.main-footer .flex-container .flex-item p {
    float: left;

}

div.copyright {
    width: 100%;
    margin-top: 1vw;
    text-align: center;
}

div.copyright p {
    font-size: var(--font-size-m-small);
}



/* ===================>>> For Responsive For Tablet ot Fablet*/

@media only screen and (min-width: 600px) {

    .top-bar {
        background-color: rgb(0, 255, 51);
        font-size: 1.5rem;
        color: var(--color-text1);
    }

}

/* ===================>>> For Responsive For Deskrop*/

@media only screen and (min-width: 960px) {

    body.blur > *:not(header), body.blur div.top-bar, body.blur .banner {
        filter: blur(2px);
    }
    

    /*Header*/

    header h3 {
        display: block;
    }

    header,
    .top-bar,
    .main-bar {
        max-width: 100%;

    }

    .top-bar {
        background-color: var(--color-white);
        font-size: var(--font-size-d-small);
        color: var(--color-text1);
        min-height: 3rem;
    }

    /* For Category Icon on Top bar */
    .head-cattitle {
        float: right;
        margin-right: 25%;
        text-align: center;
        margin-top: 0.5vw;
        color: var(--color-a-dark);
        background-color: var(--color-a-light);
        border-radius: var(--radius);
        padding: 0vw 2vw;
    }

    .head-cattitle:hover {
        background-color: var(--color-text1);
    }

    .head-cattitle a {
        text-decoration: none;
    }

    .main-bar {
        background-color: var(--color-a-light);
        text-align: right;
        min-height: 3vw;
        font-size: var(--font-size-d-small);
    }

    .nav-menu {
        width: 70%;
        float: right;
    }

    .nav-menu a {

        padding: 1rem;
        display: inline;
        border: 0px;
        text-decoration: none;
    }

    .item {
        display: inline-block;
        text-align: right;
    }

    .logo {
        /* background-color: var(--tophead3); */
        width: 10%;
        float: right;
        margin: 0;
    }

    .head-tools {
        /* background-color: var(--color-hovecoloe); */
        float: left;
        width: 10%;
        text-align: center;
        min-height: 2vw;
        margin: auto;
        margin-top: 0.5vw;
        margin-right: 1vw;
    }
    /* divs palced together (inline) */
    .head-tools > div {
        display: inline-block;
        margin: 0 2vw;
    }

    .head-search {
        /* background-color: var(--color-b-dark); */
        float: left;
        width: 20%;
        text-align: center;
        min-height: 1vw;
        margin: auto;
        margin-top: 0.2vw;
        margin-left: 1vw;
    }

    header h1 {
        display: inline;
        font-size: var(--font-size-d-large);
    }
    /* tools > Shopping */
    .tools-contain {
        position: relative;
        width: 1vw;
    }

    
  /*   .tools-contain::after {
        content: "";
        clear: both;
        display: table;
    } */
    .tools-content {
        position: absolute;
        min-width: 15rem;
        background-color: rgb(107, 240, 138);
        min-height: 10rem;
        z-index: 11; /* one more than main bar */
        margin: 1vw 2vw;
        display: none;
    }
    .tools-contain:hover .tools-content {
        display: block;
    }
    /* Every product column in tools shop */
    .shop-box-item {
        width: 90%;
        margin: auto;
        margin-top: 0.5vw;
        background-color: var(--color-d-light);
        min-height: 3vw;
        overflow: auto; /* fit a image in box */
    }

    .product-info {
        float: right;
    }
    .product-info > p {
        margin: 0vw 0.5vw;
    }
    .product-count {
        margin-left: 1vw;
    }
    .product-price {
        background-color: var(--color-a-light);
        width: 100%;
        clear: both;
        direction: rtl;
    }
    .tools-content p {
        font-size: var(--font-size-d-vsmal);
    }

    #total-price {
        margin-top: 1vw;
        background-color: chocolate;
        direction: rtl;
    }
    /* nav menu */
    /* sub menu */

    #category {
        position: fixed;
        min-height: 100%;
        right: 0;
        top: 0;
        width: 15%;
        border: 0.1vw solid var(--color-black);
        border-top: none;
        border-right: none;
        display: none;
        color: var(--color-text1);
        filter: blur(0) !important;
    }

     #category::before {   /* Head of side Bar */
        content: "دسته بندی"; 
        margin: 1vw 2vw;
        font-size: large;
        background-color: var(--color-d-light);
        display: block;
        margin: 0px;
        text-align: center;
    }
    .show {
        display: block !important;
        
    }

    /* .blur {
        filter: blur(3px);
    } */
    /* Background color of side bar (CAtegories) */
    .back-g-drop-content {
        position: absolute;
        background-color: var(--color-d-medium);
        background-size: cover;
        width: 100%;
        height: 100%;
        filter: opacity(0.9) blur(1px);
        display: block;
        z-index: -1;
    }

    .dropdown {
        margin: 0vw;
        width: 100%;
        float: right;
        margin-right: 0.3vw;
        overflow: hidden;
    }

    .dropdown>a {
        text-align: right;
        width: 100%;
    }

    .dropdown-content {
        overflow: hidden; /* text shadow collaps */
        float: left;
    }

    .dropdown-content a {
        width: 100%;
        padding-top: 0vw;
        padding-right: 0vw;
        font-size: var(--font-size-d-small);
        box-shadow: none;
    }

    a:link {
        color: var(--titlelight);
    }

    a:visited {
        color: var(--titlelight);
    }

    a:hover {
        color: var(--color-hovecoloe);
    }

    a:active {
        color: var(--color-black);
    }

    .nav-menu a:not(:first-child) {
        display: inline;
    }

    .nav-menu.item a.icon {
        display: none;

    }

    .nav-menu.item.responsive a {
        display: inline;
    }

    .nav-menu.item a.icon {

        display: none;
    }

    /* Header banner */

    .banner .flex-item {
        width: 100%;
        min-height: 40rem;
    }

    .item-style-1 {
        width: 50%;
        display: none;
    }

    .item-style-2 {
        filter: blur(2px);
        z-index: -1;
    }

    /* Main > Product */

    main div.product-section {
        display: block;
        clear: both;
        width: 100%;
        text-align: center;
        padding-bottom: 3rem;
        min-height: 40rem;
    }

    main .flex-item {
        width: 22%;
    }

    /*  .flex-item header {

        height: 3rem;
        line-height: 3rem;
    } */

    .flex-item>header {
        text-align: center;
        color: var(--color-white);
        width: 100%;
        margin: 1vw auto;
        background-color: var(--color-a-dark);
        border-radius: var(--radius);
        min-height: 2vw;
    }

    /* Because Show 3 item when page load on Desktop */
    section.flex-item.slider:nth-of-type(2),
    section.flex-item.slider:nth-of-type(3) {
        display: block;
    }

    /* Our services */
    .our-services {
        margin-top: 2rem;
    }

    /* Main Footer */
    footer.main-footer {
        width: 100%;
        border: 0.3vw solid var(--color-hovecoloe);
    }

    footer.main-footer .flex-container {
        width: 80%;
        flex-wrap: wrap;
        margin-bottom: 1vw;
    }

    footer.main-footer .head-fo>h2 {
        text-align: right;
        float: right;
        margin: 1vw;
    }

    footer.main-footer .head-fo>h2 {
        text-align: center;
        float: none;
        margin: 1vw;
    }

    footer.main-footer .flex-container .flex-item h4 {
        float: none;
    }

    footer.main-footer .flex-container .flex-item p {
        float: none;

    }


    footer.main-footer .flex-container .flex-item p,
    footer.main-footer .flex-container .flex-item h4 {
        font-size: var(--font-size-d-small);
        margin: auto;
        padding-inline: 0vw;
    }

    footer.main-footer .flex-container .flex-item {
        width: 30%;
        margin: auto;
        text-align: center;
        margin-bottom: 0vw;
        border: 1px solid var(--color-c-medium);
    }

    div.copyright {
        width: 100%;
        margin-top: 1vw;
        text-align: center;
    }

    div.copyright p {
        font-size: var(--font-size-d-small);
        text-align: center;

    }
}